{% extends "cyber/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_admin %}

        <div class="horizontal-margin-90px text-font-bahnschrift">

            <h3>Phishing Simulator</h3>

            <!-- To send regular/phishing emails -->
            <form method="post">
                {% csrf_token %}
                    <label for="recipients" class="form_label">
                        Recipients:
                        <select name="recipients" multiple>

                            {% for user in users %}
                                <option value="{{ user.username }}">{{ user.username }}</option>
                            {% endfor %}

                        </select>
                    </label>
                    <label for="subject" class="form_label">Subject: <input type="text" name="subject" required></label>
                    <label for="body" class="form_label">Body: <textarea name="body" required></textarea></label>
                    <label for="is_phishing" class="form_label">Simulated Phishing Email: <input type="checkbox" name="is_phishing"></label>
                    <button type="submit" class="submit-button w3-button" style="float:right">Send Email</button>
            </form>
        </div>

    {% else %}
        
        <div class="horizontal-margin-90px">
            <h3>You don't have permission to access this page</h3>
        </div>

    {% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'cyber/base.js' %}"></script>
{% endblock %}